name: CI/CD Pipeline - Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:

          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            aliaksandrfox/devops_project:latest
            aliaksandrfox/devops_project:${{ github.run_number }}


  deploy-to-azure:
    runs-on: ubuntu-latest
    needs: build-and-push 
    steps:
      - name: Deploying to VM via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          password: ${{ secrets.AZURE_VM_PASSWORD }}
          port: 22
          script: |
         
            sudo docker stop project-python-app || true
            sudo docker rm project-python-app || true
            
            sudo docker image prune -f
            
            sudo docker pull aliaksandrfox/devops_project:latest
            
            sudo docker run -d -p 5000:5000 --name project-python-app aliaksandrfox/devops_project:latest